@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-jakarta;
}

@font-face {
  font-family: 'SVN-Harmony';
  src: url('/assets/font/SVN-Harmony.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.button {
  @apply rounded-[40px] cursor-pointer flex items-center justify-center;
}

.input {
  @apply border-2 p-4 h-[60px] bg-gray-30 rounded-[20px] focus:border-black outline-none;
}

.news-content img {
  @apply !w-full !h-full object-contain;
}

.news-content figure {
  @apply !w-full !h-full !py-4 !m-0;
}

.news-content iframe {
  @apply !w-full !min-h-[300px] sm:!min-h-[300px] md:!min-h-[400px] lg:!min-h-[500px];
}
